
Conversation opened. 3 messages. All messages read.

Skip to content
Using Gmail with screen readers
Search



Gmail
COMPOSE
Labels
Inbox (24)
Starred
Important
Sent Mail
Drafts (4)
Circles
More 
Hangouts

 
 
 
  More 
27 of 53  
 
Expand all Print all In new window
(no subject)
Inbox
x 

Will Tom <willandtommine@gmail.com>
AttachmentsJun 14 (8 days ago)

to tyler 
Attachments area

Tyler Cisneros		AttachmentsJun 14 (8 days ago)
 

Tyler Cisneros <tyler@bradshawfurniture.com>
Jun 14 (8 days ago)

to me 
<div class="thumbnail"><div class="baby"> <a href="#"><img src="Pictures/Armoirs/ar168.jpg" alt=""  class="newcard"/></div></a>
      <h4><a href="armoirs.html" target=""><div class="button">AR168</a></div></h4>
      <p class="tag"></p>
      <p class="text_column"></p>
    </div>   

     <div class="thumbnail"><div class="baby"> <a href="#"><img src="Pictures/Armoirs/ar169.jpg" alt=""  class="newcard"/></div></a>
      <h4><a href="armoirs.html" target=""><div class="button">AR169</a></div></h4>
      <p class="tag"></p>
      <p class="text_column"></p>
    </div>   

<div class="thumbnail"><div class="baby"> <a href="#"><img src="Pictures/Armoirs/ar170.jpg" alt=""  class="newcard"/></div></a>
      <h4><a href="armoirs.html" target=""><div class="button">AR170</a></div></h4>
      <p class="tag"></p>
      <p class="text_column"></p>
    </div>   

<div class="thumbnail"><div class="baby"> <a href="#"><img src="Pictures/Armoirs/ar171.jpg" alt=""  class="newcard"/></div></a>
      <h4><a href="armoirs.html" target=""><div class="button">AR171</a></div></h4>
      <p class="tag"></p>
      <p class="text_column"></p>
    </div>   

<div class="thumbnail"><div class="baby"> <a href="#"><img src="Pictures/Armoirs/ar172.jpg" alt=""  class="newcard"/></div></a>
      <h4><a href="armoirs.html" target=""><div class="button">AR172</a></div></h4>
      <p class="tag"></p>
      <p class="text_column"></p>
    </div>   

<div class="thumbnail"><div class="baby"> <a href="#"><img src="Pictures/Armoirs/ar173.jpg" alt=""  class="newcard"/></div></a>
      <h4><a href="armoirs.html" target=""><div class="button">AR173</a></div></h4>
      <p class="tag"></p>
      <p class="text_column"></p>
    </div>   

<div class="thumbnail"><div class="baby"> <a href="#"><img src="Pictures/Armoirs/ar174.jpg" alt=""  class="newcard"/></div></a>
      <h4><a href="armoirs.html" target=""><div class="button">AR174</a></div></h4>
      <p class="tag"></p>
      <p class="text_column"></p>
    </div>   

<div class="thumbnail"><div class="baby"> <a href="#"><img src="Pictures/Armoirs/ar175.jpg" alt=""  class="newcard"/></div></a>
      <h4><a href="armoirs.html" target=""><div class="button">AR175</a></div></h4>
      <p class="tag"></p>
      <p class="text_column"></p>
    </div>   

<div class="thumbnail"><div class="baby"> <a href="#"><img src="Pictures/Armoirs/ar176.jpg" alt=""  class="newcard"/></div></a>
      <h4><a href="armoirs.html" target=""><div class="button">AR176</a></div></h4>
      <p class="tag"></p>
      <p class="text_column"></p>
    </div>   

<div class="thumbnail"><div class="baby"> <a href="#"><img src="Pictures/Armoirs/ar177.jpg" alt=""  class="newcard"/></div></a>
      <h4><a href="armoirs.html" target=""><div class="button">AR177</a></div></h4>
      <p class="tag"></p>
      <p class="text_column"></p>
    </div>   

<div class="thumbnail"><div class="baby"> <a href="#"><img src="Pictures/Armoirs/ar178.jpg" alt=""  class="newcard"/></div></a>
      <h4><a href="armoirs.html" target=""><div class="button">AR178</a></div></h4>
      <p class="tag"></p>
      <p class="text_column"></p>
    </div>   

<div class="thumbnail"><div class="baby"> <a href="#"><img src="Pictures/Armoirs/ar179.jpg" alt=""  class="newcard"/></div></a>
      <h4><a href="armoirs.html" target=""><div class="button">AR179</a></div></h4>
      <p class="tag"></p>
      <p class="text_column"></p>
    </div>   

<div class="thumbnail"><div class="baby"> <a href="#"><img src="Pictures/Armoirs/ar180.jpg" alt=""  class="newcard"/></div></a>
      <h4><a href="armoirs.html" target=""><div class="button">AR180</a></div></h4>
      <p class="tag"></p>
      <p class="text_column"></p>
    </div>   

<div class="thumbnail"><div class="baby"> <a href="#"><img src="Pictures/Armoirs/ar181.jpg" alt=""  class="newcard"/></div></a>
      <h4><a href="armoirs.html" target=""><div class="button">AR180</a></div></h4>
      <p class="tag"></p>
      <p class="text_column"></p>
    </div>   

<div class="thumbnail"><div class="baby"> <a href="#"><img src="Pictures/Armoirs/ar181.jpg" alt=""  class="newcard"/></div></a>
      <h4><a href="armoirs.html" target=""><div class="button">AR181</a></div></h4>
      <p class="tag"></p>
      <p class="text_column"></p>
    </div>   

    <div class="thumbnail"><div class="baby"> <a href="#"><img src="Pictures/Armoirs/ar182.jpg" alt=""  class="newcard"/></div></a>
      <h4><a href="armoirs.html" target=""><div class="button">AR182</a></div></h4>
      <p class="tag"></p>
      <p class="text_column"></p>
    </div>   

    <div class="thumbnail"><div class="baby"> <a href="#"><img src="Pictures/Armoirs/ar183.jpg" alt=""  class="newcard"/></div></a>
      <h4><a href="armoirs.html" target=""><div class="button">AR183</a></div></h4>
      <p class="tag"></p>
      <p class="text_column"></p>
    </div>   

    <div class="thumbnail"><div class="baby"> <a href="#"><img src="Pictures/Armoirs/ar184.jpg" alt=""  class="newcard"/></div></a>
      <h4><a href="armoirs.html" target=""><div class="button">AR184</a></div></h4>
      <p class="tag"></p>
      <p class="text_column"></p>
    </div>   

    <div class="thumbnail"><div class="baby"> <a href="#"><img src="Pictures/Armoirs/ar185.jpg" alt=""  class="newcard"/></div></a>
      <h4><a href="armoirs.html" target=""><div class="button">AR185</a></div></h4>
      <p class="tag"></p>
      <p class="text_column"></p>
    </div>   

Tyler Cisneros
2955 S. Main Street
Salt Lake City, UT 84115
tyler@bradshawfurniture.com
801.484.4707 Main
801.231.0987 Cell



On Jun 14, 2016, at 1:34 PM, Will Tom <willandtommine@gmail.com> wrote:


<main.css>
	
Click here to Reply or Forward
0.89 GB (5%) of 15 GB used
Manage
Terms - Privacy
Last account activity: 54 minutes ago
Details
Tyler Cisneros
Add to circles

Recent photos
View photo in messageView photo in messageView photo in message
Show details

@charset "UTF-8";
/* Body */
body {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
	background-color: #FFFFFF;
	margin: 0;
}
/* Container */
.container {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFFFFF;
}
/* Header */
header {
	width: 100%;
	height: 8%;
	
	
}
.li1{
font-size: 15px;
Font-color: blue;
padding-left: 10px;



}
.logo {
	color: #fff;
	font-weight: bold;
	margin-left: auto;
	letter-spacing: 4px;
	margin-right: auto;
	text-align: center;
	padding-top: 15px;
	line-height: 2em;
	font-size: 22px;
}
.hero_header {
	color: #FFFFFF;
	text-align: center;
	margin: 0;
	letter-spacing: 4px;
}
/* About Section */
.text_column {
	width: 90%;
	text-align: left;
	font-weight: lighter;
	line-height: 25px;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	color: #A3A3A3;
}
.gallery {
	clear: both;
	display: inline-block;
	width: 100%%;
	background-color: #FFFFFF;
	/* [disabled]min-width: 400px;
*/
	padding-bottom: 10px;
	padding-top: 0px;
	margin-top: -5px;
	margin-bottom: 0px;
}
.thumbnail {
	width: 23%;
	text-align: center;
	float: left;
	margin-top: 35px;
	background-color: #F8F8F8;
	padding-bottom: 10px;
	margin-left: 1%;
	margin-right: 1%;
	border-radius: 3px;
	padding-top: 20px;
	border-bottom:2px solid #aa8876;
	border-top:1px solid #aa8876;
}
 .gallery .thumbnail1 {
	width: 300px;
	text-align: center;
	float: left;
	margin-top: 35px;
	background-color: #F8F8F8;
	padding-bottom: 10px;
	margin-left: 1%;
	margin-right: 1%;
	border-radius: 3px;
	padding-top: 20px;
	border-bottom:2px solid #aa8876;
}
.gallery .thumbnail h4 {
	margin-top: 5px;
	margin-bottom: 5px;
	color: #aa8876;
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;
	transition: all 0.3s linear;
}
.gallery .thumbnail p {
	margin: 0;
	color: #B3B3B3;
	text-align: left;
	padding-left: 20px;
	transition: all 0.3s linear;
}
/* More info */
.intro {
	background-color: #FFFFFF;
	padding-bottom: 35px;
}
.column {
	width: 50%;
	text-align: center;
	padding-top: 30px;
	float: left;
}
.intro .column h3 {
	color: #FFFFFF;
	text-align: center;
}
.intro .column p {
	color: #FFFFFF;
}
.cards {
	height:100%;
	width: 100%;
	height: auto;
	max-width: 400px;
	max-height: 200px;
	
}
.cards1 {
	width: 80%;
	height: auto;
	max-width: 400px;
	max-height: 200px;
	
}
.cards2 {
	width: 60%;
	height: auto;
	max-width: 400px;
	max-height: 200px;

}

.intro .column p {
	padding-left: 30px;
	padding-right: 30px;
	text-align: justify;
	line-height: 25px;
	font-weight: lighter;
	margin-left: 20px;
	margin-right: 20px;
	width: 80%;
	margin-top: 4%;
	font-size:10px;
}
.button {
	width: 180px;
	margin-top: 40px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	text-align: center;
	vertical-align: middle;
	border-radius: 0px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
	border: 2px solid #aa8876;;
	color: #aa8876;
	transition: all 0.3s linear;
	Font-color: blue;
	font-size: 12px
	

}
.button2 {
	width: 180px;
	margin-top: 40px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	text-align: center;
	vertical-align: middle;
	border-radius: 0px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
	border: 2px solid #aa8876;;
	color: #aa8876;
	transition: all 0.3s linear;
	Font-color: blue;
	font-size: 9px
	

}
.baby{

	float:center;
	background-color:white;
}
.newcard{
	height:175px;
	width: auto ;
	
	background-color:white;
}


.float-left-area  {
		  width: 75%;
		  
		  float: left;
		  padding-left: 5%;
		  }

.float-right-area {
		  
		  height:100%;
		  width: 13%;
		  float: left;
		  padding-right: 2%;
		  padding-left: 10px;
		   height:auto;
		    min-width: 100px
		  }

.inner-left	  {
		  padding: 5px 5px 5px 5px;
		  margin-right: 10px;
		  border: #999999 1px solid;
		  min-height: 60px;
		  }

.inner-right	  {
		  font-size: 11px;
		  padding: 5px 5px 5px 5px;
		  border: #999999 1px solid;
		  min-height: 60px;
		  min-width: 100px
		  }

.clear-floated	  { clear: both; height: 1px; font-size: 1px; line-height: 1px; padding: 0; margin: 0; }


.button:hover {
	background-color: #aa8876;
	color: #FFFFFF;
	cursor: pointer;
}
.button1 {
	
	margin-top: 5px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	padding-top: 10px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	text-align: center;
	vertical-align: middle;
	border-radius: 0px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	border: 2px solid #aa8876;;
	color: #aa8876;
	transition: all 0.3s linear;
	Font-color: blue;
	background-color: #F8F8F8;

}

.button1:hover {
	background-color: #aa8876;
	color: #FFFFFF;
	cursor: pointer;
}
.copyright {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #717070;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
}
footer {
	background-color: #B3B3B3;
	padding-top: 60px;
	padding-bottom: 60PX;
}
.intro {
	display: inline-block;
	background-color: #6DC7D0;
}
.profile {
	width: 75%;
}
.gallery .thumbnail .tag {
	color: #5D5E5D;
	padding-bottom: 4px;
	padding-top: 4px;
	text-align: left;
	padding-left: 20px;
	padding-right: 20px;
}

/* Mobile */
@media (max-width: 320px) {
.logo {
	width: 100%;
	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.text_column {
	width: 100%;
	text-align: justify;
	padding: 0;
}
.intro .column p {
	width: 80%;
	margin-left: 0px;
}
.text_column {
	padding-left: 20px;
}
.thumbnail {
	width: 100%;
}
.column {
	width: 100%;
	margin-top: 0px;
}
.hero_header {
	padding-left: 10px;
	padding-right: 10px;
	line-height: 22px;
	text-align: center;
}
}

/* Small Tablets */
@media (min-width: 321px)and (max-width: 767px) {
.logo {
	width: 100%;
	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.text_column {
	width: 100%;
	text-align: left;
	padding: 0;
}
.thumbnail {
	width: 100%;
}
.column {
	width: 100%;
	margin-top: 0px;
}
.thumbnail {
	width: 100%;
}
.text_column {
	padding-left: 20px;
	padding-right: 20px;
	width: 90%;
}
.column {
	width: 100%;
	margin-left: 0px;
	margin-right: 0px;
}
.profile {
	width: 100%;
}
.intro .column p {
	width: 90%;
	text-align: center;
	padding-left: 0px;
}
}

/* Small Desktops */
@media (min-width: 768px) and (max-width: 1096px) {
.text_column {
	width: 100%;
}
.thumbnail {
	width: 48%;
}
.text_column {
	width: 90%;
	margin: 0;
	padding: 20px;
}
.intro .column p {
	width: 80%;
}
}
